# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Ryan
	email = rnleach@users.noreply.github.com

[core]
	editor = nvim

[cola]
	spellcheck = false

[diff]
    tool = vimdiff
[difftool]
    prompt = false
[difftool "vimdiff"]
    path = nvim
[alias]
    d = difftool

[merge]
    tool = vimdiff
[mergetool "vimdiff"]
    path = nvim
[pull]
	ff = only
[advice]
	detachedHead = false
